<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.limerickvirtualguide" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        //cleartaskOnLunch kills all screens after home button is pressed and starts app from main activity
        <activity
            android:name=".MainActivity"
            android:clearTaskOnLaunch="true"
            android:label="@string/title_activity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screen2_1"
            android:label="@string/title_activity" >
            //specifies the parent activity for this subactivity
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".screen3_1"
            android:label="@string/title_activity" >
        //specifies the parent activity for this subactivity
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".screen4"
            android:label="@string/title_activity" >
        </activity>
        <activity
            android:name=".screen2_2"
            android:label="@string/title_activity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".screen2_1" />
        </activity>
        <activity
            android:name=".screen2_3"
            android:label="@string/title_activity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".screen2_1" />
        </activity>
        <activity
            android:name=".screen2_4"
            android:label="@string/title_activity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".screen2_1" />
        </activity>
        <activity
            android:name=".screen3_3_1"
            android:label="@string/title_activity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".screen3_1" />
        </activity>
        <activity
            android:name=".screen3_4_1"
            android:label="@string/title_activity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".screen3_1" />
        </activity>
        <activity
            android:name=".screen3_5_1"
            android:label="@string/title_activity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".screen3_1" />
        </activity>
        <activity
            android:name=".screen3_6_1"
            android:label="@string/title_activity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".screen3_1" />
        </activity>
        <activity
            android:name=".screen3_2_1"
            android:label="@string/title_activity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".screen3_1" />
        </activity>
    </application>

</manifest>
